<div id="modal" class="modal fade">
  <div class="acronym-table modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	
	<!-- Hidden value keeps track of page number -->
	<input id="pagenum" type="hidden" value="1">
	<table>
  	  <thead>
    	<tr>
	  	  <th class="column-one">Acronym</th>
	  	  <th>Meaning</th>
	    </tr>
  	  </thead>
  	  <tbody>
    	<tr class="alt">
	  	  <td class="column-one" id="td1a">AFlw</td>
	  	  <td id="td1b">Air Flow</td>
	    </tr>
		<tr>
	  	  <td class="column-one" id="td2a">Ann</td>
	  	  <td id="td2b">Annulus</td>
	    </tr>
		<tr class="alt">
	  	  <td class="column-one" id="td3a">Bkr/Bkrs</td>
	  	  <td id="td3b">Breaker/Breakers</td>
	    </tr>
		<tr>
	  	  <td class="column-one" id="td4a">Chng</td>
	  	  <td id="td4b">Change</td>
	    </tr>
		<tr class="alt">
	  	  <td class="column-one" id="td5a">Cld</td>
	  	  <td id="td5b">Closed</td>
	    </tr>
		<tr>
	  	  <td class="column-one" id="td6a">Cntl</td>
	  	  <td id="td6b">Control</td>
	    </tr>
		<tr class="alt">
	  	  <td class="column-one" id="td7a">dP</td>
	  	  <td id="td7b">Differential Pressure</td>
	    </tr>
		<tr>
	  	  <td class="column-one" id="td8a">Dr</td>
	  	  <td id="td8b">Drop</td>
	    </tr>
      </tbody>
	  <tfoot>
    	<tr>
	  	  <td colspan="2">
	    	<div id="paging">
		  	  <ul>
		    	<li><a id="prev-btn" href="#"><span>Previous</span></a></li>
				<li><a id="btn1" href="#" class="active"><span>1</span></a></li>
				<li><a id="btn2" href="#"><span>2</span></a></li>
				<li><a id="btn3" href="#"><span>3</span></a></li>
				<li><a id="btn4" href="#"><span>4</span></a></li>
				<li><a id="btn5" href="#"><span>5</span></a></li>
				<li><a id="next-btn" href="#"><span>Next</span></a></li>
		      </ul>
		    </div>
		  </td>
	    </tr>
  	  </tfoot>
    </table>	
  </div>
</div>
