<div class="header-top">
  <!-- Sitelogo -->
  <img class="sitelogo" src="/../img/wrpslogo.png"/>   
  <!-- Navigation Level 1 -->
  <div class="nav1">
    <ul>
      <li><a href='home'>Home</a></li>
	  <li>
		<a href="mailto:ERADM@rl.gov?subject=eSOMS system support" class="tooltip">
		  <strong>Contact</strong>
		  <span>
            <img class="callout" src="img/callout.png" />
            Open "New Email" in <i>Outlook</i> addressed to <i>eRounds Admin</i>
          </span>
		</a>
	  </li>
      <li>
	    <a href='http://erounds.wrps.rl.gov/login.aspx' target="_blank" class="tooltip">
		  <strong>eSOMS Suite</strong>
		  <span>
            <img class="callout" src="img/callout.png" />
            Open the <i>eSOMS</i> Application
          </span>
		</a>
	  </li>
	  <li>
	    <a href='http://toc.wrps.rl.gov/rapidweb/PRO/index.cfm?pageNum=1' target="_blank" class="tooltip">
		  <strong>Procedures</strong>
		  <span>
            <img class="callout" src="img/callout.png" />
            Open <i>Procedures</i> Webpage
          </span>
		</a>
	  </li>
	  <li>
	    <a href='#' role="button" class="show tooltip">
		  <strong>Acronyms</strong>
		  <span>
            <img class="callout" src="img/callout.png" />
            <strong>List of Acronyms</strong><br />Opens a list of acronyms which are commonly used in <i>eSOMS</i>
          </span>
		</a>
	</li>
    </ul>
  </div>
</div>



