<!-- A.3 header-BOTTOM -->
<div class="header-bottom">
  <!-- Navigation Level 2 (Drop-down menus) -->
  <div class="nav2">
    <!-- Navigation item -->
    <ul>
      <li><a href='home'>Home</a></li>
    </ul>
    <!-- Navigation item -->
    <ul>
      <li><a href='#'>Setup</a>
        <ul>
		  <li><a href='eSOMSLogin'>Login</a></li>
		  <li><a href='sync'>Sync Device</a></li>
        </ul>
      </li>
    </ul>
    <!-- Navigation item -->
    <ul>
      <li><a href='#'>Administrative</a>
		<ul>
          <li><a href='manage-rights'>Manage Users/Groups</a></li>
          <li><a href='data-trends'>View Data Trends</a></li>
        </ul>
	  </li>
    </ul>
	<!-- Navigation item -->
    <ul>
      <li><a href='#'>Tour</a>
		<ul>
          <li><a href='create-tour'>Create Tour</a></li>
		  <li><a href='create-tour-record'>Create Tour Record</a></li>
          <li><a href='modify-tour-record'>Modify Tour Record</a></li>
		  <li><a href='change-status'>Change Record Status</a></li>
        </ul>
	  </li>
    </ul>
	<!-- Navigation item -->
    <ul>
      <li><a href='#'>Equipment</a>
		<ul>
          <li><a href='search-equip'>Search Equipment</a></li>
		  <li><a href='manage-equip'>Manage Equipment</a></li>
		  <li><a href='modify-equip'>Modify Equipment</a></li>
        </ul>
	  </li>
    </ul>
  </div>
</div>
