<!-- B.1 MAIN NAVIGATION -->
<div class="main-navigation">

  <!-- 'whitespace' creates spacer between page header and body --> 
  <div class="whitespace"></div>	
  
  <!-- Navigation -->
  <div class="round-border-topright"></div>
  <h1 class="first">Setup</h1>
  
  <!-- Navigation with bullet style -->
  <dl class="nav3-bullet">
	<dt> <a href='home'>Home</a></dt>
    <dt> <a href='eSOMSLogin'>Login</a></dt>
	  <dd> <a href='eSOMSLogin#web-app'>eSOMS Web Application</a></dd>
	  <dd> <a href='eSOMSLogin#mobile'>eSOMS Mobile</a></dd>
	<dt> <a href='sync'>Sync Device</a></dt>
	  <dd> <a href='sync#desktop-setup'>Desktop Setup</a></dd>
	  <dd> <a href='sync#mesa-device'>Mesa Device</a></dd>
      <dd> <a href='sync#common-errors'>Common Errors</a></dd>
	<dt>&nbsp;</dt>
  </dl>
  
  <!-- Title -->
  <h1 class="first">Administrative</h1>
  
  <!-- Navigation with bullets -->
  <dl class="nav3-bullet">
    <dt> <a href='manage-rights'>Manage Users/Groups</a></dt>
	  <dd> <a href='manage-rights#manage-users'>Manage Users</a></dd>
	  <dd> <a href='manage-rights#add-user'>Add User</a></dd>
	  <dd> <a href='manage-rights#remove-user'>Remove User</a></dd>
	  <dd> <a href='manage-rights#change-passwords'>Change Passwords</a></dd>
	  <dd> <a href='manage-rights#manage-groups'>Manage Groups</a></dd>
	  <dd> <a href='manage-rights#add-remove-rights'>Add/Remove Rights</a></dd>
	  <dd> <a href='manage-rights#create-group'>Create Group</a></dd>
	<dt> <a href='data-trends'>View Data Trends</a></dt>
	  <dd> <a href='data-trends#historical-data'>Historical Data</a></dd>
	  <dd> <a href='data-trends#graphical-data'>View Graphical Data</a></dd>
	<dt>&nbsp;</dt>
  </dl>
  
  <!-- Title -->
  <h1 class="first">Tour</h1>
  
  <!-- Navigation with bullets -->
  <dl class="nav3-bullet">
    <dt> <a href='create-tour'>Create Tour</a></dt>
      <dd> <a href='create-tour#tour-details'>Set Tour Details</a></dd>
      <dd> <a href='create-tour#data-approval'>Data Approval Setup</a></dd>
	  <dd> <a href='create-tour#revision-approvals'>Revision Approvals</a></dd>
    <dt> <a href='create-tour-record'>Create Tour Record</a></dt>
	  <dd> <a href='create-tour-record#insert-record'>Insert Record</a></dd>
	  <dd> <a href='create-tour-record#record-detail'>Record Detail</a></dd>
	  <dd> <a href='create-tour-record#applicability'>Applicability</a></dd>
	  <dd> <a href='create-tour-record#expressions'>Expressions</a></dd>
	  <dd> <a href='create-tour-record#alerts'>Alerts</a></dd>
	  <dd> <a href='create-tour-record#std-reading-note'>Standard Reading/Note</a></dd>
	<dt> <a href='modify-tour-record'>Modify Tour Record</a></dt>
	  <dd> <a href='modify-tour-record#nav-redline-file'>Navigating Redline File</a></dd>
	  <dd> <a href='modify-tour-record#find-station-num'>Find Station Number</a></dd>
	  <dd> <a href='modify-tour-record#eSOMS-interface'>eSOMS Interface</a></dd>
	  <dd> <a href='modify-tour-record#active-revised'>Active to Revised</a></dd>
	  <dd> <a href='modify-tour-record#update-record'>Update Record</a></dd>
	<dt> <a href='change-status'>Change Record Status</a></dt>
	  <dd> <a href='change-status#inactivate-record'>Inactivate Record</a></dd>
	  <dd> <a href='change-status#activate-record'>Activate Record</a></dd>
	<dt>&nbsp;</dt>
  </dl>
  
  <!-- Title -->
  <h1 class="first">Equipment</h1>
  
  <!-- Navigation with bullets -->
  <dl class="nav3-bullet">
    <dt> <a href='search-equip'>Search Equipment</a></dt>
	  <dd> <a href='search-equip#using-find'>Using <i>Find</i> Tool</a></dd>
	  <dd> <a href='search-equip#wildcard-notation'>Wildcard Notation</a></dd>
	  <dd> <a href='search-equip#additional-find'>Additional <i>Find</i> Info</a></dd>
	  <dd> <a href='search-equip#using-query'>Using <i>Query</i> Tool</a></dd>
	  <dd> <a href='search-equip#OR-operator'>The <i>OR</i> Operator</a></dd>
	  <dd> <a href='search-equip#NOT-condition'>The <i>NOT</i> Condition</a></dd>
    <dt> <a href='manage-equip'>Manage Equipment</a></dt>
      <dd> <a href='manage-equip#add-equip'>Add Equipment</a></dd>
      <dd> <a href='manage-equip#remove-equip'>Remove Equipment</a></dd>
      <dd> <a href='manage-equip#copy-equip'>Copy Equipment</a></dd>
	<dt> <a href='modify-equip'>Modify Equipment</a></dt>
	  <dd> <a href='modify-equip#update-record'>Update Record</a></dd>
	  <dd> <a href='modify-equip#undo-change'>Undo Changes</a></dd>
	<dt>&nbsp;</dt>
  </dl>
</div>