<!-- Navigation Button for Previous Page -->
<div class="main-content-pages" id="nav-div">
  <table class="nav_buttons">
    <tr>
	  <td class="nav_button_icon">
		<a href="{{prev-href}}">
		  <img id="nav_left" src="img/nav_arrow_left.png" alt="" onmouseover="hover_arrow_left(this);" onmouseout="unhover_arrow_left(this);" />
		</a>
	  </td>
      <td class="prev_page_text">&laquo; Previous Page</td>
	  <td class="next_page_text">Home Page &raquo;</td>
	  <td class="nav_button_icon">
	    <a href='home'>
		  <img id="nav_right" src="img/nav_arrow_right.png" alt="" onmouseover="hover_arrow_right(this);" onmouseout="unhover_arrow_right(this);" />
		</a>
	  </td>
    </tr>
  </table>
</div>