<!-- Navigation Button for Next Page -->
<div class="main-content-pages" id="nav-div">
  <table class="nav_buttons">
    <tr>
	  <td>&nbsp;</td>
	  <td>&nbsp;</td>
      <td class="next_page_text">Next Page &raquo;</td>
	  <td class="nav_button_icon">
		<a href="{{next-href}}">
		  <img id="nav_right" src="img/nav_arrow_right.png" alt="" onmouseover="hover_arrow_right(this);" onmouseout="unhover_arrow_right(this);" />
		</a>
	  </td>
    </tr>
  </table>
</div>