<!-- B.3 SUBCONTENT -->
<div class="main-subcontent">
  <!-- Subcontent unit -->
  <div class="subcontent-unit-border-green">
    <div class="round-border-topleft"></div>
    <div class="round-border-topright"></div>
	<h1 class="green">&nbsp;&nbsp;Got Questions?</h1>
    <p>You can contact <strong><i>eRounds Admin</i></strong> with any questions via:</p>
    <p>Email: <strong>ERADM@rl.gov</strong><br>&nbsp;&nbsp;&nbsp;&nbsp;
       ...or <a href="mailto:ERADM@rl.gov?subject=eSOMS system support"><i><strong>Click Here</strong></i></a></p>
  </div>
  <!-- Subcontent unit -->
  <div class="subcontent-unit-border">
    <div class="round-border-topleft"></div>
    <div class="round-border-topright"></div>
    <h1>&nbsp;&nbsp;Additional Resources</h1>
    <p>Below are some links to additional content relevant to <i>eSOMS</i>. You may find some of the documentation useful.</p>
	<p><strong>Electronic Shift Operations Management System</strong><br><a href="http://idmsweb.rl.gov//idms/livelink.exe/open/186661631" target="_blank">TO-020-555</a></p>
	<p><strong>Surveillance Rounds</strong><br><a href="http://idmsweb.rl.gov/idms/livelink.exe/fetch/2000/18814/1081672/60849/3330687/4009174/887663/191002729/TFC-OPS-OPER-C-60%2C_Surveillance_Rounds.pdf?nodeid=191039039&vernum=-2" target="_blank">TFC-OPS-OPER-C-60</a></p>
	<p><strong>eSOMS Vendor Documentation</strong><br><a href="pdf/esoms_admin_ug_b1091.pdf" target="_blank">esoms_admin_ug_b1091</a></p>	
	<p><strong>Production Instance</strong><br><a href="http://msc.ms.rl.gov/hisi/form/AppView.cfm?AppId=3364" target="_blank">HISI 3364</a></p>
  </div>
  <!-- Subcontent unit -->
  <div class="subcontent-unit-border-blue">
    <div class="round-border-topleft"></div>
    <div class="round-border-topright"></div>
    <h1 class="blue">&nbsp;&nbsp;List of Acronyms</h1>
    <table id="ac-table" cellspacing="0" cellpadding="0">
	  <tr>
	    <th class="col-one"><strong>Acronym</strong></th>
		<th><strong>Meaning</strong></th>
	  </tr>
	  <tr>
	    <td class="col-one">Aflw</td>
		<td>Air Flow</td>
	  </tr>
	  <tr>
	    <td class="col-one">Ann</td>
		<td>Annulus</td>
	  </tr>
	  <tr>
	    <td class="col-one">Bkr/Bkrs</td>
		<td>Breaker/Breakers</td>
	  </tr>
	  <tr>
	    <td class="col-one">Chng</td>
		<td>Change</td>
	  </tr>
	  <tr>
	    <td class="col-one">Cld</td>
		<td>Closed</td>
	  </tr>
	  <tr>
	    <td class="col-one">Cntl</td>
		<td>Control</td>
	  </tr>
	  <tr>
	    <td class="col-one">dP</td>
		<td>Differential Pressure</td>
	  </tr>
	  <tr>
	    <td class="col-one">Dr</td>
		<td>Drop</td>
	  </tr>
	  <tr>
	    <td class="col-one">Drs</td>
		<td>Doors</td>
	  </tr>
	  <tr>
	    <td class="col-one">Ex</td>
		<td>Exchange</td>
	  </tr>
	  <tr>
	    <td class="col-one">Exh</td>
		<td>Exhauster</td>
	  </tr>
	  <tr>
	    <td class="col-one">Ext</td>
		<td>Exterior</td>
	  </tr>
	  <tr>
	    <td class="col-one">Fnc</td>
		<td>Fence</td>
	  </tr>
	  <tr>
	    <td class="col-one">Gg</td>
		<td>Gauge</td>
	  </tr>
	  <tr>
	    <td class="col-one">Gts</td>
		<td>Gates</td>
	  </tr>
	  <tr>
	    <td class="col-one">Hr</td>
		<td>Heater</td>
	  </tr>
	  <tr>
	    <td class="col-one">In</td>
		<td>Inlet</td>
	  </tr>
	  <tr>
	    <td class="col-one">Iso</td>
		<td>Isolation</td>
	  </tr>
	  <tr>
	    <td class="col-one">Lvl</td>
		<td>Level</td>
	  </tr>
	  <tr>
	    <td class="col-one">Lck</td>
		<td>Locked</td>
	  </tr>
	  <tr>
	    <td class="col-one">Mst</td>
		<td>Moisture</td>
	  </tr>
	  <tr>
	    <td class="col-one">P</td>
		<td>Pressure</td>
	  </tr>
	  <tr>
	    <td class="col-one">Per</td>
	    <td>Perimeter</td>		
	  </tr>
	  <tr>
	    <td class="col-one">Plt</td>
		<td>Plate</td>
	  </tr>
	  <tr>
	    <td class="col-one">Pre-Fltr</td>
		<td>Pre-Filter</td>
	  </tr>
	  <tr>
	    <td class="col-one">Pri</td>
		<td>Primary</td>
	  </tr>
	  <tr>
	    <td class="col-one">Rd</td>
		<td>Reading</td>
	  </tr>
	  <tr>
	    <td class="col-one">Sep</td>
		<td>Separator</td>
	  </tr>
	  <tr>
	    <td class="col-one">SP</td>
		<td>Seal Pot</td>
	  </tr>
	  <tr>
	    <td class="col-one">St</td>
		<td>Station</td>
	  </tr>
	  <tr>
	    <td class="col-one">T</td>
		<td>Temperature</td>
	  </tr>
	  <tr>
	    <td class="col-one">Tk</td>
		<td>Tank</td>
	  </tr>
	  <tr>
	    <td class="col-one">Trlr</td>
		<td>Trailer</td>
	  </tr>
	  <tr>
	    <td class="col-one">V</td>
		<td>Valve</td>
	  </tr>
	  <tr>
	    <td class="col-one">Vac</td>
		<td>Vacuum</td>
	  </tr>
    </table>
	<p>Additional acronyms and abbreviations can be found on the <a href="http://www.hanford.gov/c.cfm/tools/acronym.cfm" target="_blank"><i>Hanford.com</i></a> website.</p>
  </div>
</div>