<div class="main-content-pages">
<h1 class="pagetitle">Change Record Status</h1>
<br><br><div class="column1-unit-pages">
<h1>Introduction</h1>
<p>Another common and fundamental application of <i>eSOMS</i> is changing a record status from “active” to “inactive” or vice-versa. This may be the result of replacing a piece of equipment which would then require a new equipment ID, or it could be the result of a station being temporarily disabled due to repairs. For whatever reason it is important to understand how to change the status of a tour record. Follow the steps below to learn how to change the status of a tour record.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="inactivate-record">Inactivate Record</h1>
<p>To change the status of an equipment record in <i>eSOMS</i> you must first select the <i>Maintenance</i> tool found under the <i>Operator Rounds</i> dropdown menu.</p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img1.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>In the left-hand side of the window you should see a column with 3 root “collapsible” menus, one titled <i>Revised</i>, another <i>Active</i>, and the third <i>Archived</i>. Ensure the <i>Revised</i> menu is expanded, then expand the specific tour that contains the record you wish to change. With the appropriate tour menu expanded, your menu should resemble the screen in the following image.</p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img2.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: To change the status of a tour the current revision of the tour must be present in the <i>Revised</i> menu.</i></p>
<p>If you are able to find a revision for the desired tour in the <i>Active</i> menu, but there is not a revision present in the <i>Revised</i> menu then you need to have a copy of the current revision moved to <i>Revised</i>. How to create a copy of the current tour revision in the <i>Revised</i> menu is covered in the <a href='modify-tour-record#active-revised' target="_blank"><i>Active to Revised</i></a> section of this tutorial.</p>
<p class="hangingindent"><i>Note: Anytime a revision is found in either the <i>Active</i> or <i>Revised</i> sections, it will always be the current revision.</i></p>
<p>In the example we will change the status of a record in the “TF-OR-QR-AN” tour. Once the current revision is present for the appropriate tour, inside the <i>Revised</i> menu, then you need to expand the revision so that all of the tour records are visible. Once the records are all visible, then you can use a “Ctrl-F” to locate a desired tour record.</p>
<p>When you locate the desired tour record simply “right click” on it, and select <i>Inactivate Record</i> from the dropdown menu. That is it, the record is now “inactive”.</p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img3.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>You will notice that the tour has moved to the bottom of the list of records and that the icon next to the record now has a red “X” through it. This signifies that the record has been changed to “inactive”. Information pertaining to this status change can also be viewed, i.e. date and time, and who made the change, by "clicking" the ‘Change Log’ tab for the equipment record.</p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img4.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="activate-record">Activate Record</h1>
<p>“Activating” a currently inactive record follows the same initial procedure as “inactivating” a record. When you reach the point where you can locate the “inactive” record in the list tour records, then simply “right click” on the record and select <i>Activate Record</i> option from the dropdown menu.</p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img5.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: Remember, “inactive” records will always be located at the bottom of the list.</i></p>
<p>After “activating” the record you will notice that the red “X” has been removed from the icon which signifies that the record is once again "active". Information pertaining to this change in status will also been recorded under the ‘Change Log’ tab of the equipment record. This includes what change was made, the date and time, and who made the change.</p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img6.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>When “activating” a previously “inactive” record there is one additional step needed. When a record is changed to an “active” status the record still remains at the bottom of the list of tour records, but this is likely not where it belongs.</p>
<p>To move the record, simply “click” on it, and drag it to the appropriate location.</p>
<p class="hangingindent"><i>Note: It is crucial to understand that tour records are not stored in order of their station numbers, station numbers are referred to as ‘Rec’ numbers in <i>eSOMS</i>, but instead are stored in ascending numerical order by their sequence numbers. These sequence numbers are referred to as a ‘Seq’ number in <i>eSOMS</i>. </i></p>
<img class="desktop-prtscr-img" src="img/change-record-status/change-status-img7.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>If you are unsure of the location for the record then you can check the sequence number of the previous revision in the <i>Archived</i> menu. Otherwise you may simply contact <a href="mailto:ERADM@rl.gov?subject=eSOMS system support"><i>eRounds Admin</i></a>.</p>
<p>Now that the record has been “activated” and moved to the appropriate location in the sequence, the task is complete.</p>
<p>Before these changes can take effect though, it is necessary to follow the steps necessary for getting the appropriate revision approvals. More information on getting a revision approved can be found in the <a href='create-tour#revision-approvals' target="_blank"><i>Revision Approvals</i></a> section of this tutorial.</p>
<br></div>
<br></div>