<div class="main-content-pages">
<h1 class="pagetitle">View Data Trends</h1>
<br><br><div class="column1-unit-pages">
<h1>Introduction</h1>
<p>One of the features which makes <i>eSOMS</i> such a significant improvement in collecting “Procedure” data is the ability to instantaneously view historical data and trends for specific tour records. Follow the steps below to learn how to view historical data and data trends, including viewing trends via graphical data. </p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="historical-data">Historical Data</h1>
<p>The first step which is necessary to complete any of these operations will begin with finding the historical data from a desired range of dates, and from the specific record, or station, of interest. To accomplish this you must select the <i>Data</i> tool from the <i>Operator Rounds</i> dropdown menu.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img1.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>After <i>Data</i> is selected and the page loads, you should see a navigation pane in the left-hand side of the window which contains “expandable” menus for each of the tours that you have the appropriate rights to access. You should also be able to view a “calendar” in the bottom left corner of the window.</p>
<p>How to change privileges is covered in the <a href='manage-rights#add-remove-rights' target="_blank"><i>Add/Remove Rights</i></a> section of this tutorial.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img2.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>In the navigation pane you will need to select the tour which you are interested in viewing data for. For the example I have chosen “AN” tank farm daily rounds. Next you will need to select the range of dates that are of interest to you. I have chosen the date “7/8/2016”, and I will be viewing data for the 21 previous days leading up to this date.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img3.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>With the tank farm and the range of dates chosen your interface should resemble the window in the following image.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img4.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>From this window you can view each record in the tour, and information such as the readings, and who recorded the readings for each corresponding date. </p>
<p class="hangingindent"><i>Note: On your screen you should see the name of the “Operator” who recorded the reading in place of the “Pi Communication” that is visible in the example.</i></p>
<p>This is how to view historical data from a tour. </p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="graphical-data">View Graphical Data</h1>
<p>Another way to view the same data is by “clicking” on the ‘Horizontal’ tab as shown in the next image. </p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img5.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: This “Horizontal” view is required in order to view graphical data.</i></p>
<p>This view initially only shows station readings for the dates specified by each column. If you look closely at the bottom of the table you will see 3 checkboxes.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img6.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The <i>Notes</i> checkbox will add a row for each record that will contain historical “Note” data, if there was any notes recorded for the station from any of the dates specified. You can see in the image below that there were multiple “Notes” taken for the “AN Prim Vent A-Trn Exh MCS” station during the specified dates.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img7.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The highlighted row from the image displays the readings, and the row directly below the highlighted row contains any notes that were taken. In this particular case, the cause of the recorded notes in the above image can easily be determined by a brief look at the readings; the dates which contain notes all have an “Out of Service” (o/s) readings.</p>
<p>The <i>Name</i> checkbox will similarly add an additional row to the table when “checked”. The row created when the <i>Name</i> checkbox is “checked” contains the name of the operator who took the reading. This can be seen in the image below.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img8.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>You may have already guessed, but the <i>Graph</i> checkbox will create a graph of the readings from the highlighted tour station, which corresponds to the specified range of dates. The following image will show a graph for the selected dates, for the “AN-101 dP Indicator 1B HMI” tour record. This is a graphical version of the same data which is highlighted in the previous image.</p>
<img class="desktop-prtscr-img" src="img/data-trends/view-data-img9.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>This graph shows the data trend for the specified range of dates, as well as the “Maximum” and “Minimum” values for this reading to remain in “SPEC”.</p>
<p>This is the method to view historical tour record data, both the raw data as well as a graphical representation of the data.</p>
<br></div>
<br></div>