<div class="main-content-pages">
<h1 class="pagetitle">eSOMS Login</h1>
<br><br><div class="column1-unit-pages">
<h1>Introduction</h1>
<p>In order to use <i>eSOMS</i>, whether on the handheld device or using the web application for your computer, you must first login. Follow the steps below to log into <i>eSOMS</i> on both devices.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="web-app">eSOMS Web Application</h1>
<p>To log into the <i>eSOMS</i> web application on your computer you must first open your browser and navigate to the <a href="http://erounds.wrps.rl.gov/login.aspx " target="_blank"><i>eSOMS SUITE</i></a> webpage. You can find the link for the application in <i>myPortal</i> by "clicking" the <i>eTools</i> dropdown menu and selecting the <i>eRounds</i> option.</p>
<img class="desktop-prtscr-img" src="img/eSOMS-login/webapp-login.png" alt="" />
<p>Enter your credentials on this screen and "click" the <i>Login</i> button.</p>
<p class="hangingindent"><i>Note: If you receive the error that is in the following image, then you may not have the correct "permissions" set up, or there may be a default password which needs to be entered on your initial login.</i></p>
<img class="desktop-prtscr-img" src="img/eSOMS-login/error-invalid-login.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>After the default password is used you will be prompted to enter a new password. Your new password must have '8' characters, and must include at least 1 letter, 1 number character, and there must be a total of 6 characters used. Passwords are not case-sensitive so there is no need to use capital letters when creating your password.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<p>When you successfully login to <i>eSOMS</i> the homepage will be loaded, and it will look like the following.</p>
<img class="desktop-prtscr-img" src="img/eSOMS-login/webapp-login-success.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>You will notice that your name will be displayed near the top-left corner of the window, and you now have access to the various <i>eSOMS</i> tools via dropdown menus.</p>
<p class="hangingindent"><i>Note: The credentials used to log into <i>eSOMS</i> on your computer will be the same credentials used to log into <i>eSOMS</i> on the <i>Mesa</i> mobile device.</i></p>
<br><br></div><hr class="clear-contentunit-pages   " /><hr class="clear-contentunit-pages   " /><div class="column1-unit-pages   "><br><br>
<h1 id="mobile">eSOMS Mobile</h1>
<p>To log into <i>eSOMS</i> on the <i>Mesa</i> device you must first open the <i>eSOMS Rounds</i> application. The application can be accessed from either of the below screens, or it can additionally be accessed by pressing the button on the lower keypad, next to the power button.</p>
<table class="img-table"><tr><td>   <!--  table is used to display images side-by-side -->
<img class="mesa-prtscr-img" src="img/eSOMS-login/eSOMS-icon2.png" alt="" />
</td><td></td><td>
<img class="mesa-prtscr-img" src="img/eSOMS-login/eSOMS-icon1.png" alt="" />
</td></tr></table>
<br></div>
<br><br><div class="column1-unit-pages">
<p>When the <i>eSOMS Rounds</i> icon is pressed, one of the following two screens will appear. The screen on the left-hand side indicates that someone is already currently logged into the device.</p>
<table class="img-table"><tr><td>   <!--  table is used to display images side-by-side -->
<img class="mesa-prtscr-img" src="img/eSOMS-login/mesa_login.png" alt="" />
</td><td></td><td>
<img class="mesa-prtscr-img" src="img/eSOMS-login/mesa_login2.png" alt="" />
</td></tr></table>
<br></div>
<br><br><div class="column1-unit-pages">
<p>If someone else is still logged into the device, then you will need to log them out prior to you logging in. You can do this be selecting the <i>Login – Logout</i> option in the <i>Tools</i> dropdown menu.</p>
<img class="mesa-prtscr-img" src="img/eSOMS-login/mesa-logout.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The login screen that was on the right-hand side of the previous set of images has fields for the users' credentials. Input your credentials into the fields and "press" <i>OK</i>.</p>
<p class="hangingindent"><i>Note: The credentials used to log into <i>eSOMS</i> on the <i>Mesa</i> mobile device will be the same credentials used to log into <i>eSOMS</i> on your computer.</i></p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<p>If you receive the error that is in the following image, then it simply means there is no record on the device of you previously logging in.</p>
<img class="mesa-prtscr-img" src="img/eSOMS-login/mesa_usr_not_found.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>This means you must use a "Synchronized" login. Press the <i>OK</i> to exit the error message, and select <i>Synchronize</i> from the <i>Tools</i> dropdown menu.</p>
<img class="mesa-prtscr-img" src="img/eSOMS-login/mesa-sync-dropdown.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>You should then be prompted for your credentials again, but from an alternative login screen. After you enter your credentials, press <i>OK</i> to login.</p>
<p class="hangingindent"><i>Note: If you are still not able to login, then you may not have the correct "permissions" set up, or there may be a default password which needs to be entered on your initial login.</i></p>
<img class="mesa-prtscr-img" src="img/eSOMS-login/mesa_login_sync.png" alt="" />
<br></div>
<br></div>