<div class="main-content-home">
<h1 class="pagetitle">eSOMS Tutorial</h1>
<br><br><div class="column1-unit-home">
<h1>Introduction</h1>
<p><i>eSOMS</i> is a human performance improvement tool designed to modernize gathering, recording, and accessing of instrument readings. <i>eSOMS</i> is grade D, quality-affecting software according to the approved Software Grading Checklist in the <i>Hanford System Inventory System</i> (HISI). <i>eSOMS</i> supports <i>Tank Operations Contractor</i> (TOC) operations by improving data gathering and viewing. It provides the following:</p>
<ul type="square">
<li>Replaces the costly and error prone paper rounds system employed by tank farms today</li>
<li>Provide seamless integration with <i>Monitoring and Control Systems</i> (MCSs) and data historians creating a unified view of instrumentation data</li>
<li>Provides a web-based interface for accessing data anywhere <i>Hanford Local Area Network</i> (HLAN) is available</li>
<li>Automatic identification and notification of out-of-spec data</li>
<li>Provides mobile on-the-spot data entry and trending of data</li>
</ul>
<br><br></div><hr class="clear-contentunit-home" /><hr class="clear-contentunit-home" /><div class="column1-unit-home"><br><br>
<h1>Purpose</h1>
<p>The purpose of this tutorial is to provide a thorough, user-friendly platform in which to learn how to effectively manage and control the <i>eSOMS</i> system and its associated software components. You will be provided with the information necessary to:</p>
<ul type="square">
<li>Sync the <i>Mesa</i> mobile device with your computer</li>
<li>Find, manage, create, remove, and update tank farm equipment</li>
<li>Create, remove, and update tank farm tours</li>
<li>View historical eRounds data</li>
<li>Utilize historical data for graphical analysis, and to view data trends</li>
</ul>
<br></div>
<br></div>