<div class="main-content-pages">
<h1 class="pagetitle">Manage Equipment</h1>
<br><br><div class="column1-unit-pages">
<h1>Introduction</h1>
<p>The <i>Manage Equipment</i> tool allows the user to add, remove, & copy equipment records. It can be found in the <i>Equipment</i> dropdown menu.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/dropdown-manage.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="add-equip">Add Equipment</h1>
<p>To add a piece of equipment to the <i>eSOMS</i> database, first "click" the <i>New record</i> icon shown in the image below.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img1.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>Fill out the appropriate fields in the form, and make sure the correct status of the equipment is selected from the dropdown menu.</p>
<p class="hangingindent"><i>Note: You must contact <i>eRounds Admin</i> to ensure the <i>Pi Tag Name</i> for the signal of the new equipment is created. This is necessary for linking the appropriate sensor to its corresponding equipment.</i></p>
<table><tr><td><p>eRounds Admin: </p></td><td><p><a href="mailto:ERADM@rl.gov?subject=eSOMS system support"><i> ERADM@rl.gov.</i></a></p></td></tr></table>
<br></div>
<br><br><div class="column1-unit-pages">
<p>Most <i>Pi Tag Name</i> fields share a common naming convention. You may notice in the image below that both the <i>Equipment ID</i> and the <i>Pi Tag Name</i> are nearly identical with the exception of the equipment description acronyms. This is because the <i>Pi Tag Name</i> is concerned with a sensor for a piece of equipment. "LIT" represents "Level Indicating Transmitter" while the "LI" simply represents the "Level Indicator". Equipment records for indicators generally share the same <i>Equipment ID</i> and <i>Pi Tag Name</i>.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img8.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>This naming convention is standard on most <i>Pi Tag Name</i> fields. Though you must still contact <i>eRounds Admin</i> to ensure the database will be correctly linked to the equipment, the following table will show the changes in the equipment description acronym portion of the <i>Pi Tag Name</i> for most equipment records.</p>
<table cellspacing="0" cellpadding="0"><tr><th><h2>Equipment Description</h2></th><th><h2>Equipment ID</h2></th><th><h2>PI Tag Name</h2></th></tr><tr><td><p>Exhauster Motor</p></td><td><p>M</p></td><td><p>M</p></td></tr><tr><td><p>Exhaust Outlet Pressure Indicator</p></td><td><p>PDIS</p></td><td><p>PDIS</p></td></tr><tr><td><p>Level Indicating Transmitter</p></td><td><p>LIT</p></td><td><p>LI</p></td></tr><tr><td><p>Pressure Differential Intake</p></td><td><p>PDI</p></td><td><p>PDI</p></td></tr><tr><td><p>Pressure Differential Indicating Transmitter</p></td><td><p>PDIT</p></td><td><p>PDI</p></td></tr><tr><td><p>Pressure Indicator</p></td><td><p>PI</p></td><td><p>PI</p></td></tr><tr><td><p>Radiation Analysis Transmitter</p></td><td><p>RT</p></td><td><p>RI</p></td></tr><tr><td><p>Seal Pot</p></td><td><p>SP</p></td><td><p>SG</p></td></tr><tr><td><p>Sight Glass</p></td><td><p>SG</p></td><td><p>SG</p></td></tr><tr><td><p>Temperature Element</p></td><td><p>TE</p></td><td><p>TI</p></td></tr><tr><td><p>Valve</p></td><td><p>V</p></td><td><p>V</p></td></tr><tr><td><p>Weight Factor Transmitter</p></td><td><p>WFT</p></td><td><p>WFI</p></td></tr></table>
<br></div>
<br><br><div class="column1-unit-pages">
<p>The auto-save feature should automatically submit the input, but, to be safe, it is recommended to always "click" the <i>Save</i> icon located near the top-left corner of the field.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img4.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>Your equipment should now be stored in the database and accessible via eSOMS. You can verify this by performing an equipment search. Information on performing an equipment search can be found in the <a href='search-equip#using-find' target="_blank"><i>Using Find Tool</i></a> section of the tutorial.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="remove-equip">Remove Equipment</h1>
<p>To remove a piece of equipment from the <i>eSOMS</i> database, you must either enter the <i>Equipment ID</i>, also commonly referred to as the "EIN#", or you can use the <i>Find</i> equipment tool to search for and select the appropriate equipment. When using the search method, after the equipment record is found, simply "click" on the <i>Equipment ID</i> link, and you will be returned to the <i>Manage Equipment</i> interface with the specified record selected.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img5.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>When the desired equipment ID is present in the <i>ID</i> field, "click" the <i>Delete record</i> icon shown in the image below.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img2.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The equipment should now be removed from the database. You can verify this by performing an additional search for the equipment ID using the <i>Find</i> equipment tool.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="copy-equip">Copy Equipment</h1>
<p>Copying can be useful when creating an equipment record which has only minor differences from another piece of equipment, i.e. a desired new equipment record only differs from another by location and/or equipment ID, etc.</p>
<p>There are two options when making a copy of an equipment record from the eSOMS database. If you know the <i>Equipment ID</i>, also commonly referred to as the "EIN#", then you can enter it into the <i>ID</i> field of the form and "click" the <i>Copy</i> icon, or vice-versa.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img3.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The other option is using the <i>Find</i> equipment tool to search for and select the appropriate equipment. Information on performing an equipment search can be found in the <a href='search-equip#using-find' target="_blank"><i>Using Find Tool</i></a> section of the tutorial. When using the search method, after finding the equipment simply "click" on the <i>Equipment ID</i> link, and you will be returned to the <i>Manage Equipment</i> interface with that equipment selected. Then "click" the <i>Copy</i> icon.</p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img5.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>After the <i>Copy</i> icon is "clicked", a new form will be appear with a <i>Copy From</i> and a <i>Copy To</i> field, along with a check-list of possible equipment attributes which can be transfered to the new copy. Make sure the new equipment record has a different name then the original. Use the <i>Builder</i> buttons to populate the <i>Copy</i> fields, and then select the appropriate attributes to be copied. "Click" <i>OK</i>.</p>
<p class="hangingindent"><i>Note: When the <i>Builder</i> button that corresponds to the <b><i>Copy To</i></b> field is selected, make sure the <b><i>Create New Record</i></b> box is checked.</i></p>
<img class="desktop-prtscr-img" src="img/manage-equip/manage-img7.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>A copy of the original equipment record with the newly created equipment ID should be created, and it should be stored in the database and be accessible via eSOMS. You can verify this by performing an additional search for the new equipment ID using the Find Equipment tool.   </p>
<br></div>
<br></div>