<div class="main-content-pages">
<h1 class="pagetitle">Modify Tour Record</h1>
<br><br><div class="column1-unit-pages">
<h1>Introduction</h1>
<p>A very common and fundamental application of <i>eSOMS</i> is making changes to a tour (procedure) record, also referred to as a station. These changes come in the form of either a <i>Procedure Change Authorization</i> or a <i>Full Revision</i>. Follow the steps below to learn how to make changes to a tour record.</p>
<p class="hangingindent"><i>Note: If there are more than 20 changes to equipment records that need to be made, then you can notify eRounds Admin at <a href="mailto:ERADM@rl.gov?subject=eSOMS system support">ERADM@rl.gov</a>, and they can handle it.</i></p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="nav-redline-file">Navigating Redline File</h1>
<p>The document in the following image is a <i>Redline</i> file which contains any required tour changes for the corresponding tank farm. </p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report1.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>There is a trick to quickly navigate to each change in a <i>Redline</i> file. The obvious way to locate these records would be to simply scroll down the entire document until each change was found, but there is a much easier way to accomplish this. While the document is open in <i>Microsoft Word</i>, select the <i>REVIEW</i> tab near the top of the window, then “click” on the <i>Next Change</i> icon, and you should be instantly taken to the location of the next “redline” in the document.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report2.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>If you arrive at a location in the document and there are no visible “redlines”, but instead you find a vertical red line present in the left-hand margin of the document, then you simply need to “click” on the red vertical line to make the “redlines” visible. You will notice in the next image that there are <u>no</u> “redlines” visible, but there is a vertical red line in the margin.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report3.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>In the next image, after the red vertical line in the margin has been “clicked”, you will notice that 2 “redline” changes are now visible, and the vertical line has changed to a gray color.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report4.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: To see what type of tour is being changed, look at the top of the page in the "gray" box.</i></p>
<p>Now that these first set of changes in the <i>Redline</i> file are present you will need to determine the station, or stations, where these changes must be made.</p>
<h1 id="find-station-num">Find Station Number</h1>
<p>Before making changes in <i>eSOMS</i> it is necessary to find the station number for the record, or records, that are being updated. This can be easily done using the tour “map” file. The tour map is simply a <i>Redline</i> file that contains station numbers in the appropriate columns for each equipment record on the tour. This allows you to easily search for the corresponding station numbers using the ‘Equipment ID’ number from the <i>Redline</i> file. Using our example “redline” from the image above, you can “copy” the ‘Equipment ID’.</p>
<table><tr><td><p>B111-WST-LIT-101</p></td></tr></table><br>
<p>Then open the corresponding “AN Quarterly Rounds Map” <i>Word</i> document. While viewing the map, you can hold the “Ctrl” key and press the “F” key to prompt the built-in <i>Navigation</i> tool for <i>Microsoft Word</i>.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/controlF.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>This <i>Navigation</i> tool will allow you to quickly locate the stations associated with the equipment record. With the <i>Navigation</i> tool present you can “paste” the ‘Equipment ID’ from the <i>Redline</i> file into the search field, and “click” on the submit icon.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report5.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The window should now scroll to the location of the record, and the ‘Equipment ID’ matching your search parameter should be highlighted. In our example there are two station numbers associated with the ‘Equipment ID’, a station for the “SACS” reading as well as a station for the “Field Reading”.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report6.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: Whenever there are multiple stations associated with a single ‘Equipment ID’, changes must be made to all of the records.</i></p>
<p>At this point you have the station numbers necessary to make the appropriate changes in <i>eSOMS</i>, but there is still an important step to take before you go any further. In order to keep the “map” file up-to date, the changes from the <i>Redline</i> file need to be incorporated into the map as well.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report7.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="eSOMS-interface">eSOMS Interface</h1>
<p>To update <i>eSOMS</i> with these changes you must select the <i>Maintenance</i> tool found under the <i>dropdown</i> menu.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img1.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>When the <i>Maintenance</i> tool has been loaded the window should resemble the screen in the following image. For our example, remember that you are using the “AN Quarterly Rounds” tour for the necessary changes.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img2.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="active-revised">Active to Revised</h1>
<p>You may notice that the particular tour “TF-OR-QR-AN”, or “AN Quarterly Rounds”, can be seen in the <i>Active</i> “collapsible” menu, but not in the <i>Revised</i> “collapsible” menu. To make any change to a tour and/or any of the records in the tour it must be in the <i>Revised</i> menu. To do this you first must expand the appropriate tour so that the last revision is visible, then “right-click” on that revision and select the ‘Revise Tour’ option.</p>
<p class="hangingindent"><i>Note: If the ‘Revise Tour’ option is not available, then you may not have the appropriate permissions to do so. How to change privileges is covered in the <a href='manage-rights#add-remove-rights' target="_blank"><i>Add/Remove Rights</i></a> section of this tutorial.</i></p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img3.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="update-record">Update Record</h1>
<p>With “TF-OR-QR-AN” now in the ‘Revised’ menus you can expand the current revision to view the tour’s current list of records as can be seen in the next image.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img4.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>From previous steps you know that the 2 stations which need to be updated are:</p>
<table><tr><td><p>STA(38)</p></td></tr><tr><td><p>STA(51)</p></td></tr></table><br>
<p>At this point you could just simply scroll down the list until you find the appropriate station number, which could be timely due to the fact that the stations are not numerically ordered by station number, and there might be hundreds of station records to scroll through. Here you can utilize a similar method as used previously for this example. While viewing the <i>eSOMS</i> interface, you can hold the “Ctrl” key and press the “F” key to prompt the built-in <i>Navigation</i> tool for the particular browser.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/controlF.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>This <i>Navigation</i> tool will allow you to quickly locate the records associated with the station numbers. With the <i>Navigation</i> tool present you can type the station number into the search field, and “click” on the <i>Next</i> button.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img5.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: For this search you will notice that the station numbers do not include the “STA” acronym, and the numbers are surrounded by “square” brackets opposed to “curved” brackets. For additional precision you may include the “square” brackets in your search.</i></p>
<p>Now that you have found the correct station record you can select it in order to make the necessary updates. The initial window presented shows the record details which are located under the <i>Rec. Detail</i> tab.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img6.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p class="hangingindent"><i>Note: All changes found in a <i>Redline</i> file can be updated in the <i>Rec. Detail</i> tab.</i></p>
<p>You will notice that in the <i>Redline</i> file that one of the “redline” changes is done to the (Basis) of the equipment, and the other change is the removal of the “SPECIAL INSTRUCTIONS”.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-report4.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>The “(Basis)” can be found in <i>eSOMS</i> in the ‘Long Instructions” field, and the “SPECIAL INSTRUCTIONS” is represented in <i>eSOMS</i> by the ‘Short Instr.’ Field.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img7.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>Based on the example I will simply need to delete the input for ‘Short Instr.” and change the ‘BASIS’ value in the ‘Long Instructions’ from the current “ES” to the desired value of “OSD-31”. The result should resemble the form shown in the following image.</p>
<img class="desktop-prtscr-img" src="img/modify-tour-record/manage-tour-img8.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>That’s it, this station record has been properly updated. Of course these identical changes need to occur in STA(51) as well, but the method of finding the record and updating it will be the same process as shown here. As always, it is recommended to “click” the <i>Save</i> icon before exiting to ensure your work is saved.</p>
<p>Also, before these changes can take effect, it is necessary to follow the steps necessary for getting the appropriate revision approvals. More information on getting a revision approved can be found in the <a href='create-tour#revision-approvals' target="_blank"><i>Revision Approvals</i></a> section of this tutorial.</p>
<br></div>
<br></div>