<div class="main-content-pages">
<h1 class="pagetitle">Sync Device</h1>
<br><br><div class="column1-unit-pages">
<h1>Introduction</h1>
<p>In order to upload <i>eRounds</i> from the Mesa mobile device to your desktop you must first sync the device with your computer. This is done using a program which is readily available via the <i>Software Distribution</i> website. Follow the steps below to sync your mobile device with your computer.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="desktop-setup">Desktop Setup</h1>
<p>In <a href=" http://gss.rl.gov/softdist/beforetxt.asp?path=winsys\\activsync\\msas45\\&nai=msas45a.na&app=ActiveSync+4%2E5+%2F+Mobile+Device+Center+6 " target="_blank"><i>Software Distribution</i></a> search for "ActiveSync." Download and install <i>ActiveSync4.5/Mobile Device Center 6</i>. When the program is installed and ran for the first time it will look like the screenshot to the left.</p>
<img class="desktop-prtscr-img" src="img/sync-device/active_sync.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>After the application has been installed there are necessary steps to be completed for both the Windows Mobile desktop application and the Mesa mobile device.</p>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1>Windows Mobile Interface</h1>
<ul type="square">
<li>Open the <i>Windows Mobile</i> application</li>
<li>Select the option "Connect without setting up your device"</li>
</ul>
<img class="desktop-prtscr-img" src="img/sync-device/active_sync2.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="mesa-device">Mesa Device</h1>
<ul type="square">
<li>Ensure the <i>Mesa</i> device is turned on</li>
<li>Select the <i>eSOMS Rounds</i> application</li>
</ul>
<p class="hangingindent"><i>Note: The application can be accessed from either of the below screens, or it can additionally be accessed by pressing the button on the lower keypad, next to the power button.</i></p>
<table class="img-table"><tr><td>   <!--   table is used to display images side-by-side -->
<img class="mesa-prtscr-img" src="img/sync-device/mesa_home.png" alt="" />
</td><td></td><td>
<img class="mesa-prtscr-img" src="img/sync-device/mesa_home2.png" alt="" />
</td></tr></table>
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1>Sync Device</h1>
<p>After the <i>eSOMS Rounds</i> application is open on the <i>Mesa</i> device you will need to log in. Information on how to log in can be found in the <a href='eSOMSLogin' target="_blank"><i>Login</i></a> section of the tutorial.</p>
<p>While the "main" application window of the application is displayed, press the <i>Tools</i> dropdown menu button and select <i>Synchronize</i> from the options.</p>
<img class="mesa-prtscr-img" src="img/sync-device/mesa-data-dropdown.png" alt="" />
<br><br></div><hr class="clear-contentunit-pages" /><hr class="clear-contentunit-pages" /><div class="column1-unit-pages"><br><br>
<h1 id="common-errors">Common Errors</h1>
<p>If you receive the same screen shown in the following image, then your computer is not communicating with the <i>Mesa</i> device.</p>
<img class="mesa-prtscr-img" src="img/sync-device/mesa_sync_fail.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>Exit the window, and ensure that the cable is connected to both your computer and the <i>Mesa</i> device. Next, restart <i>Windows Mobile</i>, press the "Connect without setting up your device" option and repeat the previous step.</p>
<p class="hangingindent" id="jumpto-note"><i>Note: If you receive the following error, then select the <b>Cancel</b> sync action, then press the <b>Window</b> button, and reselect the <b>eSOMS Rounds</b> application. After that, you will need to reopen the tour via the <b>Tools</b> dropdown menu, and close the tour properly by again pressing the <b>Tools</b> dropdown menu button and selecting the <b>Close</b> option. If the user is unknown and the tour is not accessible, then reset the mobile device.</i></p>
<img class="mesa-prtscr-img" src="img/sync-device/error_open_items.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>If you receive a window resembling the following image, then you are ready for the next step.</p>
<img class="mesa-prtscr-img" src="img/sync-device/mesa-sync-options.png" alt="" />
<br></div>
<br><br><div class="column1-unit-pages">
<p>Check the box corresponding to the appropriate <i>Tour</i> in the correct <i>Tour Group</i>. Ensure the 'Scheduled' field has the appropriate date selected. There is also an additional option for 'Verbose Log' which allows for more comprehensive details to be uploaded with the tour.</p>
<p>Press <i>OK</i>, and the synchronization should begin.</p>
<img class="mesa-prtscr-img" src="img/sync-device/error_redX.png" alt="" />
<p>If the desired tour is already checked and the background of the check-box is red, then you will need to follow the same instructions given in the most recent "note". Click <a href="#jumpto-note">here</a> to return to the previous note.</p>
<br></div>
<br></div>